.Button {
    border-radius: 75px;
    border-color:#FF5733;
    color: #FF5733;
    cursor: pointer;
    font: inherit;
    padding: 7px;
    margin: 10px;
    font-weight: bold;
    background-color: white;
    width: 200px;
    text-align: center;
  }